<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/index.js"></script>
  </head>

  <body>
    <noscript>
      <h2 style="color: #ff0000">
        Seems your browser doesn't support Javascript! Websocket relies on
        Javascript being enabled. Please enable Javascript and reload this page!
      </h2>
    </noscript>
    <div id="main-content" class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Index</h2>
          <form id="index-form" class="form-inline">
            <button id="signin-button" class="btn btn-primary" type="submit">
              Sign In
            </button>
            <button id="signup-button" class="btn btn-primary" type="submit">
              Sign Up
            </button>
            <button id="public-button" class="btn btn-primary" type="submit">
              Public
            </button>
            <button id="swagger-button" class="btn btn-primary" type="submit">
              Swagger
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
