<!DOCTYPE html>
<html>
  <head>
    <title>Public Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/public.js"></script>
  </head>

  <body>
    <noscript>
      <h2 style="color: #ff0000">
        Seems your browser doesn't support Javascript! Websocket relies on
        Javascript being enabled. Please enable Javascript and reload this page!
      </h2>
    </noscript>
    <div id="main-content" class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Public Page</h2>
          <div id="message-container">
            <p>Loading...</p>
          </div>
          <button id="fetch-button" class="btn btn-primary">Fetch Data</button>
          <button id="refresh-token-button" class="btn btn-warning">
            Refresh Token
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
