<!DOCTYPE html>
<html>
  <head>
    <title>signup</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/signup.js"></script>
  </head>

  <body>
    <noscript>
      <h2 style="color: #ff0000">
        Seems your browser doesn't support Javascript! Websocket relies on
        Javascript being enabled. Please enable Javascript and reload this page!
      </h2>
    </noscript>
    <div id="main-content" class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Sign Up</h2>
          <form id="signup-form" class="form-inline" onsubmit="return false;">
            <div class="form-group">
              <label for="signup-email">Email:</label>
              <input
                type="email"
                id="signup-email"
                class="form-control"
                required
                autocomplete="email"
              /><br />
              <label for="signup-name">Name:</label>
              <input
                type="text"
                id="signup-name"
                class="form-control"
                required
                autocomplete="name"
              /><br />
              <label for="signup-username">Username (Account Name):</label>
              <input
                type="username"
                id="signup-username"
                class="form-control"
                required
                autocomplete="username"
              /><br />
              <label for="signup-password">Password:</label>
              <input
                type="password"
                id="signup-password"
                class="form-control"
                required
                autocomplete="new-password"
              /><br />
            </div>
            <button id="signup-button" class="btn btn-primary" type="button">
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
